.banner {
  background-image: url(../../../../assets/SpaceAppIndia2025.jpg);
  background-size: cover;
  height: 110vh;
  background-repeat: no-repeat;
  text-align: center;
  padding: 5% 0px;
}

.banner h1 {
  font-size: 2.8rem;
  color: #022547;
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.banner h2 {
  font-size: 2.8rem;
  color: #022547;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    padding: 15% 20px;
    margin: 10% 0;
    background-position: center;
    background-size: cover;
  }

  .banner h1,
  .banner h2 {
    font-size: 1.8rem;
    color: #fff;
  }
}
