<div class="details">
  <div class="logo">
    <img src="../../../../assets/about/details.png" alt="" class="images">
  </div>
  <div class="details1">
    <h1>About US</h1>
    <p>The International Space Apps is one of the greatest events that Egypt could host. Innovation is part of the
      youth’s characteristics. I encourage you all to delve into the topics of the International Space Apps, provide
      ideas, change perceptions and keep on trying to think about space exploration and how we can improve life on Earth
      in the future .</p>
  </div>
</div>