.banner {
  background-image: url(../../../../assets/challenges/banner5.png);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: -5%;
  text-align: center;
  padding: 25% 0 0;
}

.banner h1 {
  color: #FF8031;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Inter", sans-serif;
}
.banner .users{
  color: #01264B;
  font-weight: 100;
}