<div class="article-container">
  <div class="logo-title">
    <img src="../../../../assets/image 87.png" alt="Articles Logo" class="article-logo" />
    <div class="title-text">
      <h4>{{ articles[currentIndex].subtitle }}</h4>
      <h2>NASA 'space apps
        challenge' from today</h2>
    </div>
  </div>

  <div class="article-frame">
    <span class="arrow" (click)="prevArticle()">&#8592;</span>
    <img [src]="articles[currentIndex].image" alt="NASA article" class="article-image" />
    <span class="arrow" (click)="nextArticle()">&#8594;</span>
  </div>
</div>