<div class="main-container">
  <div class="background-box">
    <div class="left-card">
      <img src="../../../../assets/challenges/items/item3.png" alt="workspace" class="workspace-img" />
      <button class="know-more-btn">Know More<i class="bi bi-arrow-right"></i></button>
      <div class="levels">
        <span>Beginner</span> | <span>Intermediate</span> | <span>Advanced</span>
      </div>

    </div>

    <div class="right-content">
      <div class="nav-links">
        <span>Arts</span> |
        <span>Climate</span> |
        <span>Earth</span> |
        <span>Games</span>
      </div>

      <h2>Imagine our Connected Earth</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s.
      </p>
    </div>
  </div>
</div>
