section {
  background-color: #EFEFEF;
}



.title {
  font-size: 4rem;
  text-align: center;
  font-weight: 400;
  padding: 4% 0%;
}

.card {
  background-color: transparent;
  border: none;
  max-width: 70%;
}
.col-md-4{
  margin: 4% 0%;
}
.container{
  margin: 0% 6%;
}