<section>
  <div class="container">
    <p class="title">Meet Our Heros</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group1.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group6.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group3.png" alt="">
        </div>
      </div>
       <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group4.png" alt="">
        </div>
      </div>
       <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group5.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group2.png" alt="">
        </div>
      </div>
     
    </div>
  </div>
</section>