<section>
  <div class="container">
    <p class="title">Meet Our Heros</p>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group 1.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group 6.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group 3.png" alt="">
        </div>
      </div>
       <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group 4.png" alt="">
        </div>
      </div>
       <div class="col-md-4">
        <div class="card">
          <img src="../../../../assets/teams/Group 5.png" alt="">
        </div>
      </div>
     
    </div>
  </div>
</section>