/* Navbar base styles */
.navbar {
  transition: background-color 0.4s ease, box-shadow 0.3s ease;
  z-index: 1030;
}

/* Scrolled navbar */
.navbar.scrolled {
  background-color: #ffffff !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Offcanvas menu */
.offcanvas-body {
  background: linear-gradient(90deg, #06172C 0%, #01294F 52%, #06172C 100%) !important;
  max-width: 90%;
  margin: 2% 0%;
  border-radius: 60px;
}

/* Navbar links */
.nav-item a {
  color: #FFFFFF !important;
  padding: 28px 2rem;
  font-family: "Inter", sans-serif;
  transition: color 0.3s ease;
  text-decoration: none;
}

/* Hover color only if not active */
.nav-item a:not(.active-link):hover {
  color: #FF8031 !important;
}

/* Active route */
.active-link {
  color: #f58b49 !important;
  font-weight: 600;
 
  filter: drop-shadow(2px 2px 10px #f58b49);
}

/* Logo */
img {
  max-width: 15% !important;
  margin: 2%;
}

/* Brochure button */
.nav-item button {
  background-color: #FF8031;
  padding: 10px 20px;
  margin: 10% 2%;
  color: #fff;
  border-radius: 30px;
  transition: 420ms;
  font-weight: 500;
  border: none;
}

.nav-item button a {
  text-decoration: none;
  color: #fff;
}

.nav-item button a:hover {
  color: #fff !important;
}

.nav-item button:hover {
  background-color: #f58b49;
}

/* Override styles on scroll */
.navbar.scrolled .nav-item a {
  color: #fff !important;
}

.navbar.scrolled .active-link {
  color: #FF8031 !important;
  filter: drop-shadow(2px 2px 6px #FF8031);
}

.navbar.scrolled .brochure {
  background-color: #FF8031;
  color: white;
}

.navbar.scrolled .brochure:hover {
  background-color: #f58b49;
}
