<!-- banner.component.html -->
<div class="banner">
  <div class="banner-details">
    <div class="image">
      <div class="earth">
        <app-mars></app-mars>
        <div class="w-full md:w-1/2 h-[190px] users" #canvasContainer></div>
      </div>
      <div class="details">
        <div class="data">
          <h1>1,22,300+</h1>
          <h2>Participations</h2>
        </div>
        <div class="data">
          <h1>5000+</h1>
          <h2>Apps Created</h2>
        </div>
        <div class="data">
          <h1>40+</h1>
          <h2>Mentors</h2>
        </div>
        <div class="data">
          <h1>13</h1>
          <h2>States</h2>
        </div>
      </div>
    </div>
  </div>
</div>
