<div class="container">
  <div class="content">
    <h2>Imagine our <span class="highlight">Connected Earth</span></h2>

    <div class="categories">
      <span>Arts</span> |
      <span>Climate</span> |
      <span>Earth</span> |
      <span>Games</span>
    </div>

    <p>
      Space App India is India's first one-stop platform for all space-related programs. We work in three verticals
      research, development, and education. We are a group of space enthusiasts, researchers, scientists, and
      entrepreneurs trying to create a super active space community and ecosystem in India to help spread space
      technology to the masses.
    </p>
  </div>

  <div class="image">
    <img src="../../../../assets/challenges/items/item3.png" alt="Connected Earth">
  </div>
</div>