.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
  gap: 40px;
  margin: 10% 8% 0%;

  @media (max-width: 992px) {
    flex-direction: column;
    text-align: center;
  }
}

.content {
  max-width: 600px;

  h2 {
    color: #05284d;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;

  }

  .categories {
    margin-bottom: 15px;

    span {
      color: #f26a1b;
      cursor: pointer;
      font-family: "Inter", sans-serif;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  p {
    color: #6c757d;
    line-height: 1.6;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
  }
}

.image {
  img {
    width: 400px;

  }

  @media (max-width: 992px) {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
    margin: 10% 0 0;
    gap: 30px;
  }

  .content {
    max-width: 100%;
  }

  .content h2 {
    font-size: 24px;
  }

  .content .categories span {
    display: inline-block;
    margin: 0 4px;
    font-size: 14px;
  }

  .content p {
    font-size: 13px;
  }

  .image img {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
}
